.date {
  color: black;
}

#dark .date{
  color: white;
}

.icon-style {
  background-color: rgb(217, 252, 17);
}




.tech-used-at-work p{
    background-color: black;
    border-radius: 90px;
    color: white;
    padding: 10px;
    text-align: center;

}
.tech-used-at-work p:hover{
    background-color: brown;
    cursor: pointer;
}
