body {
  /* chỉnh sửa lại font-family */
  margin: 0;
  font-family: Calibri, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Calibri, Helvetica, sans-serif;
}
